@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Baloo Thambi 2', cursive;
}

#main {
  background-image: url('https://i.pinimg.com/originals/4e/17/b6/4e17b6d7caefbcea123e37c6a6fa3624.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.head {
  text-align: center;
  background: none;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  width: 70vw;
  position: relative;
  top: 1rem;
  background: rgba(0, 0, 0, 0.9);
}

#title {
  padding: .8rem;
}

#img-div {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 70vw;
  margin: 2rem auto;
  background: rgba(0, 0, 0, 0.9);
}

#image {
  display: block;
  max-width: 95%;
  height: auto;
  margin: 1rem auto;
  
}

#hr-line {
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
}

#below{
    display: none;;
}

#tribute-info {
  width: 70vw;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  margin: 2rem auto 1rem auto;
  background: rgba(0, 0, 0, 0.9);
}

#row-1 {
  display: flex;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.col1 {
  width: 25%;
  text-align: left;
  padding: 0 0 0 6rem;
  margin: auto 0;
}

.col2 {
  width: 25%;
  text-align: left;
  margin: auto 0;
}

.col3 {
  width: 50%;
  text-align: left;
  padding: 0 6rem 0 0;
}

#row {
  display: flex;
  margin: 1rem;
}

#footer {
  text-align:center;
  padding: 0 0 1rem 0;
}

#tribute-link {
  color:white;
}

#tribute-link:hover {
  color: grey;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url('https://i.pinimg.com/originals/4e/17/b6/4e17b6d7caefbcea123e37c6a6fa3624.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        width: 100%;
        height: auto;
    }

    #title{
        padding: .4rem;
    }

    .head {
        width: 90vw;
    }

    #img-div{
        display: block;
        width: 90vw;
    }

    #image{
          width: 85vw;
    }

    #img-caption{
        padding-left: .5rem!important;
    }

    #tribute-info {
        width: 90vw;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        margin: 2rem auto 1rem auto;
    }

    #row, #row-1 {
        display: block;
        margin: 1rem;
    }

    .col1 {
        width: 100%;
        text-align: left;
        padding: 0 0 0 .2rem;
        margin: auto 0;
        text-align: center;
    }

    .col2 {
        width: 100%;
        text-align: left;
        margin: auto 0;
        text-align: center;
    }

    .col3 {
        width: 100%;
        text-align: left;
        padding: 0 .2rem 0 0;
        text-align: center;
    }

    #below{
        width: 50%;
        display: inline-block;
    }

    #hr-line{
        width: 99%;
    }

    #col1, #col2 {
        margin: .1rem 0;
    } 

    #quote {
        padding: .2rem;
    }

    #footer {
        text-align:center;
        padding: 0 .5rem 1rem .5rem;
      }

  }